<!DOCTYPE html>
<html>
<head>
  <title>Webstate</title>
  <%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag "application" %>
  
</head>

<body>
<header>
	<section><div></div></section>
	<section><div></div></section>
</header>

<%= yield %>

<footer>
	<section>
		<article>
			<div id="linkList">
			
			</div>
		</article>
		<article>
			<div id="footerLogo">
				
			<div>
		</article>
	</section>
	<section>
		<div>
			<a><img src="../images/logo_facebook.png"></a>
			<a><img src="../images/logo_googleplus.png"></a>
			<a><img src="../images/logo_in.png"></a>
			<a><img src="../images/logo_rss.png"></a>
			<a><img src="../images/logo_twitter.png"></a>
			<a><img src="../images/logo_youtube.png"></a>
		</div>
	</section>
</footer>
</body>

</html>
