
<div id="content" onload="createListSuburbs()">
		<!-- start content -->
		<section id="suburbSearch">
			<div id="searchingDiv">
			<h4>Searching</h4>
			<h4 id="imgTitle">Properties in</h4>
			<div id="divImage">
			</div>
			<div id="menuSearch">
				<h4>Suburb name or post code</h4>
				<input id="txtPostCode" type="text" name="txtSeach"></input>
				<button onclick="searching()">Search</button>
				<div id="wait" style="display:none;">
					<h3>Searching...</h3>
					<img src='../images/Preloader_3.gif'/>
				</div>
			</div>
		</div>
		</section>
		<section id="suburbList">
			
		</section>
		
		<!-- end content -->
	</div>
</body>